@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.app-name {
    text-align: center;
    font-weight: 900;
    font-size: 44px;
    color: #FFFFFF; 
}

.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

a {
	color:#FFFFFF;
	
}

button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #e93540;
  width: 120px;
  height: 40%;
  border: 0;
  padding: 15px;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

button:hover,.form button:active,.form button:focus {
  background: DodgerBlue;
}

input .delete-button{
	  background: #e93540;
	  outline: 0;
	  color: #FFFFFF;	
}

header, footer {
    padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.app-name {
    text-align: center;
    font-weight: 900;
    font-size: 44px;
    color: #FFFFFF; 
}

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}

.driverOrPassenger-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}

.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 460px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.driverRequestList {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 860px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}


.offerTable,
.requestTable{
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 560px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input{

}


#submit {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #e93540;
  cursor: pointer;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  color: White;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

#submit:hover{
	background: Red;
}
#delete {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #696969;
  cursor: pointer;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  color: White;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

#delete:hover{
	background: #A9A9A9;
}
#button{
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: RoyalBlue;
  cursor: pointer;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  color: White;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
#button:hover{
	background: DodgerBlue;
}
.form select {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form a{
  font-family: "Roboto", sans-serif;
  transition: all 0.3 ease;
  cursor: pointer;
  background: w3-blue
}


.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: RoyalBlue;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: DodgerBlue;
}

.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}

.message-red {
  text-align: center;
  color: #d12f39;
  font-size: 22px;
  font-weight: bold;
}


.message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}

.message-offer {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 16px;
}


.message-white {
  margin: 15px 0 0;
  color: #ffffff;
  font-size: 12px;
}

.message-logout {
  margin: 15px 0 0;
  color: #ffffff;
  font-size: 16px;
}

.form .message a {
  color: #f73741;
  text-decoration: none;
}
.message a {
  color: #f73741;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.buttonSubmit {
  transition-duration: 0.4s;
  padding: 12px 28px;
  background-color: #808080;
  display: inline-block;
}

.buttonSubmit:hover {
  background-color: #ffffff; /* White */
  color: black;
}

body {
	
  background: #3399ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #3399ff, #cf2f1f);
  background: -moz-linear-gradient(right, #3399ff, #cf2f1f);
  background: -o-linear-gradient(right, #3399ff, #cf2f1f);
  background: linear-gradient(to left, #3399ff, #cf2f1f);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}